<body onload="WesternProContentFunction()">
  <div id="westernContainer" class="westernClass">
    <h1 id="westernMainTopic"></h1>
  </div>

  <div id="companyContainer" class="topicClass">
    <h2>Wester Province-Clothing Companies</h2>
  </div>

  <div>
    <img src="/assets/images/western.png" alt="western-province image" class="westernImage">
  </div>

  <div> <!--odel table-->
    <table  mat-table class="odelTable" id="odelData">
      <tr id="odelHeading">
        <th>Category</th>
        <th>Number of Types</th>
        <th>Selling Price</th>
        <th>Stock per month</th>
        <th>Company outcome</th>
        <th>Company income</th>
        <th>Company profit</th>
      </tr>
      <tr *ngFor="let odel of oList">
        <td>{{odel.odel_category}}</td>
        <td style="text-align:center">{{odel.o_num_of_colors}}</td>
        <td><span>{{odel.odel_selling_price}}</span></td>
        <td><span>{{odel.odel_stock_per_month}}</span></td>
        <td><span>{{odel.odel_outcome_price}}</span></td>
        <td><span>{{odel.odel_income_price}}</span></td>
        <td><span>{{odel.odel_profit}}</span></td>
      </tr>
    </table>
  </div>

  <div>
    <button id="aliyaButtonShow" class="aliyaShowClass"></button>
  </div>
  <div> <!--aliya table-->
    <table mat-table class="aliyaTable">
      <tr id="aliyaHeading">
        <th>Category</th>
        <th>Number of Types</th>
        <th>Selling Price</th>
        <th>Stock per month</th>
        <th>Company outcome</th>
        <th>Company income</th>
        <th>Company profit</th>
      </tr>

      <tr *ngFor="let aliya of aList">
        <td>{{aliya.aliya_category}}</td>
        <td style="text-align:center">{{aliya.a_num_of_colors}}</td>
        <td><span>{{aliya.aliya_selling_price}}</span></td>
        <td><span>{{aliya.aliya_stock_per_month}}</span></td>
        <td><span>{{aliya.aliya_outcome_price}}</span></td>
        <td><span>{{aliya.aliya_income_price}}</span></td>
        <td><span>{{aliya.aliya_profit}}</span></td>
      </tr>
    </table>
  </div>

  <div>
    <button id="mimosaShowButton" class="mimosaShowClass"></button>
  </div>
</body>
