<body onload="CentralLoadContent()">
  <div id="centralContainer">
    <h1 id="centralTopic"></h1>
  </div>

  <div id="companyContainer">
    <button id="subTopic" onmouseover="MukuwaMouseOver()" onmouseout="MukuwaMouseOut()" (click)="CallMukuwaButtonClick()"></button>
  </div>

  <div> <!--mukuwa table-->
    <table mat-table class="mukuwaTable" id="mukuwaData">
      <tr id="mukuwaHeading">
        <th>Category</th>
        <th>Price per hour</th>
        <th>Number of projects per month</th>
        <th>Projects income</th>
        <th>Targeted income for a month</th>
      </tr>
      <tr *ngFor="let mukuwa of mukuList">
        <td>{{mukuwa.job_sector}}</td>
        <td style="text-align:center">{{mukuwa.price_per_hour}}</td>
        <td><span>{{mukuwa.project_num}}</span></td>
        <td><span>{{mukuwa.income}}</span></td>
        <td><span>{{mukuwa.targeted_income}}</span></td>
      </tr>
    </table>
  </div>

  <div id="engContainer">
    <button id="engId" onmouseover="EngMouseOver()" onmouseout="EngMouseOut()" (click)="CallEngButtonClick()"></button>
  </div>

  <div> <!--eng table-->
    <table mat-table class="engTable" id="engData">
      <tr id="engHeading">
        <th>Category</th>
        <th>Number of types</th>
        <th>Product selling price</th>
        <th>Product outcome</th>
        <th>Product income</th>
        <th>Product profit</th>
      </tr>
      <tr *ngFor="let eng of engList">
        <td>{{eng.category}}</td>
        <td style="text-align:center">{{eng.types}}</td>
        <td><span>{{eng.selling_price}}</span></td>
        <td><span>{{eng.outcome_price}}</span></td>
        <td><span>{{eng.income_price}}</span></td>
        <td><span>{{eng.profit}}</span></td>
      </tr>
    </table>
  </div>

  <div>
    <img src="/assets/images/central.jpg" alt="central-province image" class="centralImage">
  </div>

  <div class="row">
    <canvas id="piechart"></canvas>
  </div>
</body>
