#topic8Container {
  padding: 8px;
}

#input8 {
  padding: 8px;
  margin-top: 590px;
}

#send8Id {
  border-radius: 10px;
  margin-left: 40px;
  width: 80px;
  padding: 4px;
}

#text8Id {
  width: 90%;
}
