#topic9Container {
  padding: 8px;
}

#input9 {
  padding: 8px;
  margin-top: 590px;
}

#send9Id {
  border-radius: 10px;
  margin-left: 40px;
  width: 80px;
  padding: 4px;
}

#text9Id {
  width: 90%;
}
