#topic2Container {
  padding: 8px;
}

#input2 {
  padding: 8px;
  margin-top: 590px;
}

#send2Id {
  border-radius: 10px;
  margin-left: 40px;
  width: 80px;
  padding: 4px;
}

#text2Id {
  width: 90%;
}
