.globalImage{
  width:39.7%;
  height: 990px;
  margin-top: -1740px;
}
#spaCeylonButton{
  margin-left: 600px;
}
.spaTable{
  margin-left:600px;
}
.spaTable th,
td {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 40px;
  text-align: center;
}
#louisContainer{
  margin-left: 600px;
}
.louisTable{
  margin-left: 600px;
}
.louisTable th,
td {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.hermerTable {
 /* margin-left: 100px;*/
  width: 100%;
}
.hermerTable th,
td {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
