#topicContainer{
  padding:8px;
}
.globalImage{
  width:39.2%;
  height: 952px;
  margin-top: -1696px;
}
#spaCeylonButton{
  margin-left: 600px;
  padding: 8px;
  font-size: 24px;
  width:60.5%;
}
.spaTable{
  margin-left:600px;
}
.spaTable th,
td {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 40px;
  text-align: center;
}
#louisContainer{
  margin-left: 600px;
}
#louisButton{
  font-size:24px;
  padding: 8px;
  width:100%;
}
.louisTable{
  margin-left: 600px;
}
.louisTable th,
td {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
#hermerButton{
  width: 100%;
  font-size:24px;
  padding: 8px;
}
.hermerTable {
 /* margin-left: 100px;*/
  width: 100%;
}
.hermerTable th,
td {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
