#topic6Container {
  padding: 8px;
}

#input6 {
  padding: 8px;
  margin-top: 590px;
}

#send6Id {
  border-radius: 10px;
  margin-left: 40px;
  width: 80px;
  padding: 4px;
}

#text6Id {
  width: 90%;
}
