#topic7Container {
  padding: 8px;
}

#input7 {
  padding: 8px;
  margin-top: 590px;
}

#send7Id {
  border-radius: 10px;
  margin-left: 40px;
  width: 80px;
  padding: 4px;
}

#text7Id {
  width: 90%;
}
