#topic3Container {
  padding: 8px;
}

#input3 {
  padding: 8px;
  margin-top: 590px;
}

#send3Id {
  border-radius: 10px;
  margin-left: 40px;
  width: 80px;
  padding: 4px;
}

#text3Id {
  width: 90%;
}
