<body onload="LocalMarketPageLoadFunction()">
  <div class="topic" id="topicId">
    <h1 id="topicHead"></h1>
  </div>
  <div>
    <img src="/assets/images/localMpic.png" alt="local-market image" class="localImage">
  </div>

  <table class="sideTable" id="sideTableId">
    <tr>
      <td class="sideTab"><button id="homeId" class="sideButton" onmouseover="HomeMouseOver()" onmouseout="HomeMouseOut()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="registerId" class="sideButton" (click)="CallRegisterProfileClick()" onmouseover="RegisterMouseOver()" onmouseout="RegisterMouseOut()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="loginId" class="sideButton" (click)="CallLoginPageFunctionClick()" onmouseover="LoginMouseOver()" onmouseout="LoginMouseOut()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="localBrokerId" class="sideButton" (click)="CallLocalBrokerPageFunctionClick()" onmouseover="LocalBrokerMouseOver()" onmouseout="LocalBrokerMouseOut()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="globalBrokerId" class="sideButton" (click)="CallGlobalBrokerPageFunctionClick()" onmouseover="GlobalBrokerMouseOver()" onmouseout="GlobalBrokerMouseOut()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="historyId" class="sideButton" (click)="CallHistoryPageFunctionClick()" onmouseover="HistoryMouseOver()" onmouseout="HistoryMouseOut()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="PersonalId" class="sideButton" (click)="CallPersonalProfileFunctionClick()" onmouseover="PersonalMouseOver()" onmouseout="PersonalMouseOut()"></button></td>
    </tr>
  </table>

  <div>
    <table class="provinceTable" id="provinceIdTable">
      <tr class="rowMargin">
        <td><button id="central" class="provinceButton" onmouseover="CentralMouseOver()" onmouseout="CentralMouseOut()" (click)="CallCentralProvinceClick()"></button></td>
        <td><button id="northCentral" class="provinceButton" onmouseover="northCentralMouseOver()" onmouseout="northCentralMouseOut()" (click)="CallNorthCentralProvinceClick()"></button></td>
        <td><button id="northern" class="provinceButton" onmouseover="northernMouseOver()" onmouseout="northernMouseOut()" (click)="CallNorthernProvinceClick()"></button></td>
      </tr>

      <tr class="rowMargin">
        <td><button id="eastern" class="provinceButton" onmouseover="easternMouseOver()" onmouseout="easternMouseOut()" (click)="CallEasternProvinceClick()"></button></td>
        <td><button id="northWestern" class="provinceButton" onmouseover="northWesternMouseOver()" onmouseout="northWesternMouseOut()" (click)="CallNorthWesternClick()"></button></td>
        <td><button id="southern" class="provinceButton" onmouseover="southernMouseOver()" onmouseout="southernMouseOut()" (click)="CallSouthernClick()"></button></td>
      </tr>

      <tr class="rowMargin">
        <td><button id="uva" class="provinceButton" onmouseover="uvaMouseOver()" onmouseout="uvaMouseOut()"></button></td>
        <td><button id="sabaragamuwa" class="provinceButton" onmouseover="sabaMouseOver()" onmouseout="sabaMouseOut()"></button></td>
        <td><button id="western" class="provinceButton" (click)="CallDirectWesternProvinceFunctionClick()" onmouseover="WesternMouseOver()" onmouseout="WesternMouseOut()"></button></td>
      </tr>
    </table>
  </div>
</body>
