#topic4Container {
  padding: 8px;
}

#input4 {
  padding: 8px;
  margin-top: 590px;
}

#send4Id {
  border-radius: 10px;
  margin-left: 40px;
  width: 80px;
  padding: 4px;
}

#text4Id {
  width: 90%;
}
