<body onload="GlobalBrokerPageLoadFunction()">
  <table class="sideTable">
    <tr>
      <td class="sideTab"><button id="homeId" class="sideButton" (click)="CallHomeClickPageFunction()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="registerId" class="sideButton" (click)="CallRegisterProfileClick()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="loginId" class="sideButton" (click)="CallLoginPageFunctionClick()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="localBrokerId" class="sideButton" (click)="CallLocalBrokerAlertFunction()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="globalBrokerId" class="sideButton" (click)="CallGlobalBrokerPageFunctionClick()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="historyId" class="sideButton" (click)="CallHistoryPageFunctionClick()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="PersonalId" class="sideButton" (click)="CallPersonalProfileFunctionClick()"></button></td>
    </tr>
  </table>
</body>
