<body onload="RegisterLoadContentFunction()">
  <div id="MaintopicContainer" class="MaintopicDiv">
    <h1 id="mainTopic"></h1>
  </div>
  <table class="sideTable">
    <tr>
      <td class="sideTab"><button id="homeId" class="sideButton" (click)="CallHomeClickPageFunction()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="registerId" class="sideButton" (click)="CallRegisterProfileClick()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="loginId" class="sideButton" (click)="CallLoginPageFunctionClick()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="localBrokerId" class="sideButton" (click)="CallLocalBrokerAlertFunction()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="globalBrokerId" class="sideButton" (click)="CallGlobalBrokerPageFunctionClick()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="historyId" class="sideButton" (click)="CallHistoryPageFunctionClick()"></button></td>
    </tr>
    <tr>
      <td class="sideTab"><button id="PersonalId" class="sideButton" (click)="CallPersonalProfileFunctionClick()"></button></td>
    </tr>
  </table>

  <div>
    <table mat-table class="brokerTable" id="brokerData">
      <tr id="brokerlHeading">
        <th>Province</th>
        <th>Broker Id</th>
        <th>Broker Name</th>
        <th>Contact Number</th>
        <th>Broker Email</th>
      </tr>
      <tr *ngFor="let broker of blList">
        <td>{{broker.province}}</td>
        <td style="text-align:center">{{broker.broker_id}}</td>
        <td><span>{{broker.broker_name}}</span></td>
        <td><span>{{broker.contact_number}}</span></td>
        <td><span>{{broker.b_email}}</span></td>
      </tr>
    </table>
  </div>

  <div id="TopicContainer">
    <h2 id="brokerphoto"></h2>
  </div>

  <div>
    <table class="brokerPic">
      <tr>
        <td><img src="/assets/images/localp1.jpg" alt="broker1img" class="brokerClass"></td>
        <td><img src="/assets/images/locb2.png" alt="broker2img" class="brokerClass"></td>
        <td><img src="/assets/images/locb3.png" alt="broker3img" class="brokerClass"></td>
      </tr>
      <tr>
        <td><label id="lb1" class="bAlign"></label><br><button id="l1Chat" class="bAlign" (click)="CallBroker1ChatClick()"></button></td>
        <td><label id="lb2" class="bAlign"></label><br><button id="l2Chat" class="bAlign" (click)="CallBroker2ChatClick()"></button></td>
        <td><label id="lb3" class="bAlign"></label><br><button id="l3Chat" class="bAlign" (click)="CallBroker3ChatClick()"></button></td>
      </tr>
      <tr>
        <td><img src="/assets/images/locb4.png" alt="broker4img" class="brokerClass"></td>
        <td><img src="/assets/images/locb5.png" alt="broker5img" class="brokerClass"></td>
        <td><img src="/assets/images/locb6.png" alt="broker6img" class="brokerClass"></td>
      </tr>
      <tr>
        <td><label id="lb4" class="bAlign"></label><br><button id="l4Chat" class="bAlign" (click)="CallBroker4ChatClick()"></button></td>
        <td><label id="lb5" class="bAlign"></label><br><button id="l5Chat" class="bAlign" (click)="CallBroker5ChatClick()"></button></td>
        <td><label id="lb6" class="bAlign"></label><br><button id="l6Chat" class="bAlign" (click)="CallBroker6ChatClick()"></button></td>
      </tr>
      <tr>
        <td><img src="/assets/images/locb7.png" alt="broker7img" class="brokerClass"></td>
        <td><img src="/assets/images/locb8.png" alt="broker8img" class="brokerClass"></td>
        <td><img src="/assets/images/locb9.png" alt="broker9img" class="brokerClass"></td>
      </tr>
      <tr>
        <td><label id="lb7" class="bAlign"></label><br><button id="l7Chat" class="bAlign" (click)="CallBroker7ChatClick()"></button></td>
        <td><label id="lb8" class="bAlign"></label><br><button id="l8Chat" class="bAlign" (click)="CallBroker8ChatClick()"></button></td>
        <td><label id="lb9" class="bAlign"></label><br><button id="l9Chat" class="bAlign" (click)="CallBroker9ChatClick()"></button></td>
      </tr>
    </table>
  </div>
</body>
