#topic5Container {
  padding: 8px;
}

#input5 {
  padding: 8px;
  margin-top: 590px;
}

#send5Id {
  border-radius: 10px;
  margin-left: 40px;
  width: 80px;
  padding: 4px;
}

#text5Id {
  width: 90%;
}
